* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.parent {
  padding: 30px;
  width: 100%;
  display: flex;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 330px;
  width: 280px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1.5px solid hsl(0, 0%, 63%);
  padding: 5px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid hsl(0, 0%, 15%);
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: hsl(0, 0%, 15%);
  cursor: pointer;
}

.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 9px;
  font-weight: 400px;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
  font-weight: 600;
}

.center .tag {
  display: flex;
  margin: 10;
  gap: 5px;
}

.center .tag h4 {
  font-size: 10px;
  background-color: #dadada;
  color: black;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding: 15px;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.bottom h3 {
  font-size: 17px;
}

.bottom p {
  font-size: 10px;
  color: #8b8b8b;
}